<p>
  <strong>Word:</strong>
  <%= show_clue(@game.clue) %>
</p>

<p>
  <strong>Lives:</strong>
  <%= @game.lives_remaining %>
</p>

<p>
  <strong>Incorrect guesses:</strong>
  <%= @game.incorrect_guesses.join(" ") %>
</p>

<%= form_with model: [ @game, @guess ], id: "guess", local: true do |f| %>
  <%= f.label 'Take a guess:' %>

  <%= f.text_field :guess, id: 'guess_input' %>

  <% unless @guess.errors.empty? %>
  <div id="error_explanation">
    <h4>Uh oh!</h4>
    <ul>
      <% @guess.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%= f.submit 'Make guess' %>
<% end %>