<p>
  <strong>Word:</strong>
  <%= @game.clue %>
</p>

<p>
  <strong>Lives:</strong>
  <%= @game.lives_remaining %>
</p>

<p>
  <strong>Incorrect guesses:</strong>
  <%= @game.incorrect_guesses.join(" ") %>
</p>

<% if notice %>
  <div id="error_explanation">
    <h4>Uh oh!</h4>
    <ul>
      <% notice.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: [ @game, @game.guesses.build ], id: "guess", local: true do |f| %>
  <%= f.label 'Take a guess:' %>
  <%= f.text_field :guess, id: 'guess_input' %>
  <%= f.submit 'Make guess' %>
<% end %>

<% #TODO: form_for, pass in object e.g. @guess, in controller have new and create action. %>
<% #TODO: Can be created with rails g scaffold %>