<h1>Game</h1>

<% #Have game model calc game state and return symbol representing state of game. %>
<% if @game.lost? %>
  <p>GAME OVER</p>
  <p>Your word was... <%= @game.word %></p>
  <p>Play again?</p>
  <%= link_to 'New Game', new_game_path %>
<% elsif @game.won? %>
  <%= @game.word %>
  <p>YOU WIN!</p>
  <p>Play again?</p>
  <%= link_to 'New Game', new_game_path %>
<% else %>
  <%= render 'active_game' %>
<% end %>
  